# IntelliJ ignored files
/.idea/shelf/
/.idea/workspace.xml
/.idea/httpRequests/
/.idea/dataSources/
/.idea/dataSources.local.xml
/.idea/scopes

.DS_Store
/node_modules/
/.nyc_output/
/coverage/
/build/
/dist/
/Notes.txt
